<div class="row">
    <div class="col-12">

        <div class="pull-left">
            <div class="col-12 tool-buttons">
                <button style="margin-top: 0px;" class="btn btn-danger"><i class="fa fa-times"></i> Delete Plan </button>
                <button style="margin-top: 0px;" class="btn btn-success"><i class="fa fa-plus-circle"></i> New Plan </button>
                <button style="margin-top: 0px;" class="btn btn-info"><i class="fa fa-solid fa-pen-ruler"></i> Edit Plan </button>
                <button style="margin-top: 0px;" class="btn btn-default"><i class="fa-solid fa-print"></i> Print </button>
                <button style="margin-top: 0px;" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add Device </button>
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-content">
                        <img src="https://www.researchgate.net/profile/Christoph-Kinkeldey/publication/237408245/figure/fig11/AS:668623463010315@1536423664251/Ground-floor-plan-of-a-small-office-building.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
