<nav class="navbar navbar-expand navbar-absolute fixed-top navbar-transparent">
    <div class="container header-container">

            <div class="navbar-nav">
                <li class="nav-item">
                    <a routerLinkActive="active" [routerLink]="['/dashboard']" class="nav-link">
                        <i class="fa fa-gear"></i> Settings
                    </a>
                </li>
                <li class="nav-item ">
                    <a routerLinkActive="active" [routerLink]="['/pages/register']" class="nav-link">
                        <i class="fa fa-bookmark"></i> Read Manual
                    </a>
                </li>

                <li class="nav-item  active ">
                    <a routerLinkActive="active" [routerLink]="['/pages/lock']" class="nav-link">
                        <i class="nc-icon nc-key-25"></i> Forgot Password
                    </a>
                </li>
            </div>

    </div>
</nav>

<div class="wrapper wrapper-full-page " style="background-image: url(./assets/img/bg/dark-material-bg.jpg);background-size: cover;">
    <div class="full-page section-image" filter-color="black">
        <div class="content">
            <div class="container container2 ">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <form class="form" method="" action="">
                        <div class="card card-login">
                            <div class="card-header ">
                                <div class="card-header">
                                    <h3 class="header text-center" style="margin-bottom: 0px;">
                                                <img src="./assets/img/olympi-logo-gr.png" style="width: 210px;">
                                    </h3>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-single-02"></i>
                    </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="First Name..." (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <div class="input-group"  [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                                    </div>
                                    <input type="password" placeholder="Password" class="form-control" (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                                <br/>

                            </div>
                            <div class="card-footer ">
                                <a href="javascript:void(0)" [routerLink]="['/dashboard']" class="btn btn-outline-success btn-block mb-3">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer footer-black  footer-white ">
            <div class="container footer-container">
                <div class="row">

                    <div class="credits ml-auto">
            <span class="copyright">
              &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Olympia Electronics
            </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
