<div class="row">
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fas fa-ethernet"></i>
                </div>
                <h6 class="card-title"> Gateways </h6>
            </div>
            <div class="card-footer">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fab fa-asymmetrik"></i>
                </div>
                <h6 class="card-title"> Luminaires </h6>
            </div>
            <div class="card-footer">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fas fa-bezier-curve"></i>
                </div>
                <h6 class="card-title"> Extenders </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fas fa-wifi"></i>
                </div>
                <h6 class="card-title"> Wireless IOs </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
</div>
