<div class="row">
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fa-solid fa-microchip"></i>
                </div>
                <h6 class="card-title"> Add Gateway </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <h6 class="card-title"> Auto-Detection </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
                <h6 class="card-title"> Add Luminaire Manually </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fa-solid fa-server"></i>
                </div>
                <h6 class="card-title"> Add Extender Manually </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fa-solid fa-server"></i>
                </div>
                <h6 class="card-title"> Add wireless Io Manually </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </div>
                <h6 class="card-title"> Network Configuration Wizard </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fa-solid fa-gears"></i>
                </div>
                <h6 class="card-title"> Network Installation </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fa-solid fa-layer-group"></i>
                </div>
                <h6 class="card-title"> Zone Management </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="card-icon icon-gateway">
                    <i class="fa-solid fa-screwdriver"></i>
                </div>
                <h6 class="card-title"> Installation Tool </h6>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    Small Description
                </div>
            </div>
        </div>
    </div>
</div>
