<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-pricing ">
      <div class="card-header">
        <h2 class="card-title"> Gateways </h2>
      </div>
      <div class="card-body">
        <div class="card-icon icon-gateway ">
          <i class="fas fa-ethernet"></i>
        </div>
        <h2 class="card-title card-total">1</h2>
        <ul>
          <li>
            <h6>
              <i class="fa fa-circle text-empty"></i>
              Online (0)</h6>
          </li>
          <li>
            <h6>
              <i class="fa fa-circle text-danger"></i>
              In Fault (1)</h6>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <div class="footer-title">More Actions</div>
            </div>
            <div class="pull-right">
              <button title="View Details" class="btn btn-warning btn-round btn-icon btn-sm">
                <i class="fa fa-info"></i>
              </button>
              <button title="Add New" class="btn btn-success btn-round btn-icon btn-sm">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-pricing ">
      <div class="card-header">
        <h2 class="card-title"> Luminaires </h2>
      </div>
      <div class="card-body">
        <div class="card-icon icon-luminaire">
          <i class="fab fa-asymmetrik"></i>
        </div>
        <h2 class="card-title card-total">6</h2>
        <ul>
          <li>
            <h6><i class="fa fa-circle text-success"></i> Online (3)</h6>
          </li>
          <li>
            <h6><i class="fa fa-circle text-info"></i> Cherged (2)</h6>
          </li>
          <li>
            <h6><i class="fa fa-circle text-empty"></i> Lamp test (0)</h6>
          </li>
          <li>
            <h6><i class="fa fa-circle text-info"></i> Batt. test (1)</h6>
          </li>
          <li>
            <h6><i class="fa fa-circle text-empty"></i>
              In fault (0)
            </h6>
          </li>
          <li>
            <h6><i class="fa fa-circle text-empty"></i>
              Emerg. oper. (0)
            </h6>
          </li>
          <li>
            <h6>
              <i class="fa fa-circle text-empty"></i>
              Forced emerg. (0)
            </h6>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <div class="footer-title">More Actions</div>
            </div>
            <div class="pull-right">
              <button title="View Details" class="btn btn-warning btn-round btn-icon btn-sm">
                <i class="fa fa-info"></i>
              </button>
              <button title="Add New" class="btn btn-success btn-round btn-icon btn-sm">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-pricing ">
      <div class="card-header">
        <h2 class="card-title"> Extenders </h2>
      </div>
      <div class="card-body">
        <div class="card-icon icon-extender">
          <i class="fas fa-bezier-curve"></i>
        </div>
        <h2 class="card-title card-total">1</h2>
        <ul>
          <li>
            <h6>
              <i class="fa fa-circle text-empty"></i>
              Online (0)</h6>
          </li>
          <li>
            <h6>
              <i class="fa fa-circle text-danger"></i>
              In Fault (1)</h6>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <div class="footer-title">More Actions</div>
            </div>
            <div class="pull-right">
              <button title="View Details" class="btn btn-warning btn-round btn-icon btn-sm">
                <i class="fa fa-info"></i>
              </button>
              <button title="Add New" class="btn btn-success btn-round btn-icon btn-sm">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-pricing ">
      <div class="card-header">
        <h2 class="card-title"> Wireless IOs </h2>
      </div>
      <div class="card-body">
        <div class="card-icon icon-wireless-io">
          <i class="fas fa-wifi"></i>
        </div>
        <h2 class="card-title card-total">8</h2>
        <ul>
          <li>
            <h6> <i class="fa fa-circle text-success"></i>
              Online (7)</h6>
          </li>
          <li>
            <h6><i class="fa fa-circle text-danger"></i>
              In Fault (1)</h6>
          </li>
          <li>
            <h6><i class="fa fa-circle text-empty"></i>
              Input 1 detected (0)</h6>
          </li>
          <li>
            <h6><i class="fa fa-circle text-empty"></i>
              Input 2 detected (0)</h6>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <div class="footer-title">More Actions</div>
            </div>
            <div class="pull-right">
              <button title="View Details" class="btn btn-warning btn-round btn-icon btn-sm">
                <i class="fa fa-info"></i>
              </button>
              <button title="Add New" class="btn btn-success btn-round btn-icon btn-sm">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="pull-left">
      <div class="col-12">
        <h4 style="margin: 0px; margin-bottom: 10px;">
          <i style="padding-right: 5px;" class="fa-solid fa-podcast"></i>Broadcast Commands
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="card-icon">
          <i class="fa-solid fa-bars-progress"></i>
        </div>
        <h6 class="card-title"> Dimming Level </h6>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          Adjust Dimming Level
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="card-icon">
          <i class="fa-solid fa-question"></i>
        </div>
        <h6 class="card-title"> Request Status </h6>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          View detailed System status
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="card-icon">
          <i class="fa-solid fa-wave-square"></i>
        </div>
        <h6 class="card-title"> System Test </h6>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          Perform Full System Test
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="card-icon">
          <i class="fa-solid fa-arrow-rotate-right"></i>
        </div>
        <h6 class="card-title"> Fault Reset </h6>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          Reset to Defaults
        </div>
      </div>
    </div>
  </div>

</div>
